.hidden {
  display: none;
}

.application {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.client {
  margin-bottom: 40px;
  width: 400px;
}

.chat-box {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 200px;
  overflow: auto;
  border: thin solid black;
  border-radius: 6px;
  margin: 10px 0;
  padding: 10px;
}

.chat-bubble {
  border: none;
  border-radius: 6px;
  margin: 10px 5px;
  padding: 5px 10px;
  max-width: 250px;
}

.recieve {
  align-self: flex-start;
  background-color: lightgrey;
}

.send {
  align-self: flex-end;
  background-color: lightblue;
}

.meta {
  margin: 0;
  padding: 0;
  color: grey;
  font-style: italic;
  font-size: 0.8em;
  align-self: flex-start;
}

#alice {
  page-break-after: always;
  break-after: always;
}

